*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .container {
    margin: 0 auto;
    margin-top: 50px;
    width: 960px;
    color: whi3t#777;
    font-family: 'Arial'; 'Helvetica Neue', 'Helvetica, sans-serif;'
    font-size: 18px;
  }
  
  header {
    background-color: #ebebeb;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
  }
  
  nav {
    background-color: #ebebeb;
    width: 700px;
    height: 400px;
    padding: 10px;
    border: 1px solid white;
  }
  
  section {
    background-color: #ebebeb;
    width: 495px;
    height: 400px;
    padding: 10px;
    border: 1px solid white;
  }
  
  Article {
    background-color: #777;
    color: #ebebeb
    width: 1000px;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
  }

  p {
    background-color: #ebebeb;
    color:#777;
    width: 1000px;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
  }

  aside {
    background-color: #ebebeb;
    width: 1000px;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
  }

  footer {
    background-color: #ebebeb;
    width: 1000px;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
  }

  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }
  
  aside {
    float: left;
  }
  
  main {
    float: left;
  }